body {
  background-image: url('images/blackhole3.png');
  background-size: cover;
  background-position: center;
}
h1 {
  font-family: 'Noto Sans Mono','monospace';
  font-size: 48px;
  font-color: #ffffff;
}
